<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet"> 
    
    <link rel="stylesheet" href="css/event.css">
    

</head>
<body>

    
    <section id='eventsCategory' class="category mb-0 pb-0">
        <div class="container pt-5 text-center">
            <!-- <h1 class="header">Events</h1> -->
            <div id=widthTab>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active liTab" id="home-tab" data-bs-toggle="tab" data-bs-target="#events" type="button" role="tab" aria-controls="home" aria-selected="true">UPCOMING</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link liTab" id="profile-tab" data-bs-toggle="tab" data-bs-target="#previous" type="button" role="tab" aria-controls="profile" aria-selected="false">PREVIOUS</button>
                    </li>
                  </ul>
            </div>
        </div>
    </section>

 <div  class="tab-content" id="myTabContent">
    <section id='events' class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
        <div class="container pt-5">
            <!-- <div class="eventCard mb-5 row">
                <div class="col-md-4 col-lg-3  contImg">
                     <img class="imgEvent" src="https://trello.com/1/cards/60709458e09af86335bdb984/attachments/60a6683d07cfce01a85cdd0f/previews/60a6684007cfce01a85cdd85/download/Gearing_FINAL.png">
                </div>
                <div class="col-md-8 col-lg-9 container">
                     <h4 class="mt-4 headerEvents text-center">HEALTH DEBUNKING TIME WITH EXPERTS</h4>
                     <p class="mt-4 descriptionEvents">All those wondering and no real answers, quite harsh this world is huh! 
                         Well we got your answers with our online all out faculties event, Debunking Health Myth.... </p>
                         <div class="spaceEvent">
                             <div class="spaceEvent widthIcons">
                                 <img class="iconEvent" src="icon/calender.svg">
                                 <p class="textIcon">8th feb 2021</p>
                             </div>
                             <div class="spaceEvent widthIcons">
                                 <img class="iconEvent" src="icon/location.svg">
                                 <p class="textIcon">8th feb 2021</p>
                             </div>
                             <div class="spaceEvent widthIcons">
                                 <img class="iconEvent" src="icon/time.svg">
                                 <p class="textIcon">8th feb 2021</p>
                             </div>
                         </div>
                     <div class="buttonSpace mt-4 ">
                         <button type="button"  style="color: #fff;
                         background: #B70F0F;" class="btn me-2 me-md-2 me-lg-3 btnEvent">Read More</button>
                         <button type="button"  style="color: #fff;
                         background: #090D19;" class="btn   me-md-4 me-lg-5 btnEvent">Register</button>
                     </div>
             </div>
         </div> -->

         <% currentEvent.forEach(function(event,i){%>
 <div class="eventCard mb-5 row">
                <div class="col-md-4 col-lg-3  contImg">
                     <img class="imgEvent" src=<%= event.imageUrl %>>
                </div>
                <div class="col-md-8 col-lg-9 container">
                     <h4 class="mt-4 headerEvents text-center"><%= event.title %></h4>
        
                     <div class="mt-4 descriptionEvents" ><%- event.description.substr(0, 200)+" ..."%> </div>
                         <div class="spaceEvent">
                             <div class="spaceEvent widthIcons">
                                 <img class="iconEvent" src="icon/calender.svg">
                                 <p class="textIcon"><%= event.date.toDateString('en-US').substr(4, event.date.toDateString('en-US').length) %></p>
                             </div>
                             <div class="spaceEvent widthIcons">
                                 <img class="iconEvent" src="icon/location.svg">
                                 <p class="textIcon"><%= event.location %></p>
                             </div>
                             <div class="spaceEvent widthIcons">
                                 <img class="iconEvent" src="icon/time.svg">
                                 <p class="textIcon"><%= event.timeFrom %> - <%= event.timeTo %></p>
                             </div>
                         </div>
                     <div class="buttonSpace mt-4 ">
                        <a href="/events/view/<%= event._id %>"  style="color: #fff;
                            background: #B70F0F;" class="btn me-2 me-md-2 me-lg-3 btnEvent">Read More</a>
                         <a type="button" href="<%= event.linkgoogle %>"  style="color: #fff;
                         background: #090D19;" class="btn me-md-4 me-lg-5 btnEvent">Register</a>
                     </div>
             </div>
         </div>

         <% }) %>

            
        </div>
    </section>

    <section id='previous' class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab">
        <div class="container pt-5">
            <!-- <div class="eventCard mb-5 row">
                <div class="col-md-4 col-lg-3  contImg">
                     <img class="imgEvent" src="https://trello.com/1/cards/60709458e09af86335bdb984/attachments/60a6683d07cfce01a85cdd0f/previews/60a6684007cfce01a85cdd85/download/Gearing_FINAL.png">
                </div>
                <div class="col-md-8 col-lg-9 container">
                     <h4 class="mt-4 headerEvents text-center">HEALTH DEBUNKING TIME WITH EXPERTS</h4>
                     <p class="mt-4 descriptionEvents">All those wondering and no real answers, quite harsh this world is huh! 
                         Well we got your answers with our online all out faculties event, Debunking Health Myth.... </p>
                         <div class="spaceEvent">
                             <div class="spaceEvent widthIcons">
                                 <img class="iconEvent" src="icon/calender.svg">
                                 <p class="textIcon">8th feb 2021</p>
                             </div>
                             <div class="spaceEvent widthIcons">
                                 <img class="iconEvent" src="icon/location.svg">
                                 <p class="textIcon">8th feb 2021</p>
                             </div>
                             <div class="spaceEvent widthIcons">
                                 <img class="iconEvent" src="icon/time.svg">
                                 <p class="textIcon">8th feb 2021</p>
                             </div>
                         </div>
                     <div class="buttonSpace mt-4 ">
                         <button type="button"  style="color: #fff;
                         background: #B70F0F;" class="btn me-2 me-md-2 me-lg-3 btnEvent">Read More</button>
                         <button type="button"  style="color: #fff;
                         background: #090D19;" class="btn   me-md-4 me-lg-5 btnEvent">Register</button>
                     </div>
             </div>
         </div> -->
  
         <% previousEvent.forEach(function(event,i){%>
            <div class="eventCard mb-5 row">
                           <div class="col-md-4 col-lg-3  contImg">
                                <img class="imgEvent" src=<%= event.imageUrl %>>
                           </div>
                           <div class="col-md-8 col-lg-9 container">
                                <h4 class="mt-4 headerEvents text-center"><%= event.title %></h4>
                   
                                <div class="mt-4 descriptionEvents" ><%- event.description.substr(0, 200)+" ..."%> </div>
                                    <div class="spaceEvent">
                                        <div class="spaceEvent widthIcons">
                                            <img class="iconEvent" src="icon/calender.svg">
                                            <p class="textIcon"><%= event.date.toDateString('en-US').substr(4, event.date.toDateString('en-US').length) %></p>
                                        </div>
                                        <div class="spaceEvent widthIcons">
                                            <img class="iconEvent" src="icon/location.svg">
                                            <p class="textIcon"><%= event.location %></p>
                                        </div>
                                        <div class="spaceEvent widthIcons">
                                            <img class="iconEvent" src="icon/time.svg">
                                            <p class="textIcon"><%= event.timeFrom %> - <%= event.timeTo %></p>
                                        </div>
                                    </div>
                                <div class="buttonSpace mt-4 ">
                                    <a href="/events/view/<%= event._id %>"  style="color: #fff;
                                    background: #B70F0F;" class="btn me-2 me-md-2 me-lg-3 btnEvent">Read More</a>
                                    <a  href="<%= event.linkgoogle %>"  style="color: #fff;
                                    background: #090D19;" class="btn me-md-4 me-lg-5 btnEvent">Register</a>
                                </div>
                        </div>
                    </div>
           
                    <% }) %>
           




            
        </div>
    </section>
 </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>