<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet"> 
 
    <link rel="stylesheet" href="/css/singleEvent.css">
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=617e5bc49709b0001266ba22&product=inline-share-buttons' async='async'></script></head>
<body>

    <%- include('partials/navbar.ejs') %>
  
    <!-- <section id='eventsCategory' class="category">
        <h3 class="pt-5 text-center title">GEARING UP FOR THE WORKPLACE</h3>
    </section>

    <section id="eventDetails" class="container mb-5">
        <div class="text-center">
            <img src="/uploads/images/cf9f5c17095bde4c4fe5b6a92da1f77a" id="img">
        </div>

       <div class="row mt-5">
           <div class="col-1"></div>
        <div class="col-10 spaceEvent">
            <div class="spaceEvent widthIcons">
                <img class="iconEvent" src="/icon/calender.svg">
                <p class="textIcon">3rd dec 2002</p>
            </div>
            <div class="spaceEvent widthIcons">
                <img class="iconEvent" src="/icon/location.svg">
                <p class="textIcon">3rd dec 2002</p>
            </div>
            <div class="spaceEvent widthIcons">
                <img class="iconEvent" src="/icon/time.svg">
                <p class="textIcon">3rd dec 2002</p>
            </div>

            <div class="spaceEvent widthIcons smallregister">
                <button class="btn btn-dark btn-sm-lg register" style="background-color: #000;border-color: #1b0a33;">Register Now</button>
            </div>
        </div>

        <div class="col-1"></div>
       </div>

       <div class="mt-5 ">
           <h4 class="title">Description:</h4>
           <div class="container descriptionEvents">
<p>To cover cases where you have to keep the href attribute on a disabled link, the .disabled class uses pointer-events: none to try to disable the link functionality of <a>s. Note that this CSS property is not yet standardized for HTML, but all modern browsers support it. In addition, even in browsers that do support pointer-events: none, keyboard navigation remains unaffected, meaning that sighted keyboard users and users of assistive technologies will still be able to activate these links. So to be safe, in addition to aria-disabled="true", also include a tabindex="-1" attribute on these links to prevent them from receiving keyboard focus, and use custom JavaScript to disable their functionality altogether.</p>
    <p>To cover cases where you have to keep the href attribute on a disabled link, the .disabled class uses pointer-events: none to try to disable the link functionality of <a>s. Note that this CSS property is not yet standardized for HTML, but all modern browsers support it. In addition, even in browsers that do support pointer-events: none, keyboard navigation remains unaffected, meaning that sighted keyboard users and users of assistive technologies will still be able to activate these links. So to be safe, in addition to aria-disabled="true", also include a tabindex="-1" attribute on these links to prevent them from receiving keyboard focus, and use custom JavaScript to disable their functionality altogether.</p>         
        <p>To cover cases where you have to keep the href attribute on a disabled link, the .disabled class uses pointer-events: none to try to disable the link functionality of <a>s. Note that this CSS property is not yet standardized for HTML, but all modern browsers support it. In addition, even in browsers that do support pointer-events: none, keyboard navigation remains unaffected, meaning that sighted keyboard users and users of assistive technologies will still be able to activate these links. So to be safe, in addition to aria-disabled="true", also include a tabindex="-1" attribute on these links to prevent them from receiving keyboard focus, and use custom JavaScript to disable their functionality altogether.</p>

</div>
       </div>
    </section> -->


    <section id='eventsCategory' class="category">
        <br><br><br><br><br>
        <h3 class="pt-5 text-center title"><%= event.title %></h3>
      
    </section>
    <br><br><br><br>
    <section id="eventDetails" class="container mb-5">
        <div class="text-center">
            <img id="img" src=<%= event.imageUrl %>>
        </div>

       <div class="row mt-5">
           <div class="col-1"></div>
        <div class="col-10 spaceEvent">
            <div class="spaceEvent widthIcons">
                <img class="iconEvent" src="/icon/calender.svg">
                <p class="textIcon"><%= event.date.toDateString('en-US').substr(4, event.date.toDateString('en-US').length) %></p>
            </div>
            <div class="spaceEvent widthIcons">
                <img class="iconEvent" src="/icon/location.svg">
                <p class="textIcon"><%= event.location %></p>
            </div>
            <div class="spaceEvent widthIcons">
                <img class="iconEvent" src="/icon/time.svg">
                <p class="textIcon"><%= event.timeFrom %> - <%= event.timeTo %></p>
            </div>

            <div class="spaceEvent widthIcons smallregister">
                <a class="btn btn-dark btn-ms btn-lg register" href=<%= event.linkgoogle %> style="background-color: #000;border-color: #1b0a33;">Register Now</a>
            </div>
        </div>

        <div class="col-1"></div>
       </div>
       <div class="sharethis-inline-share-buttons mt-4"></div>

       <div class="mt-5 ">
           <h4 class="title mb-4">Description:</h4>
           <div class="container descriptionEvents">
            <%- event.description%>
</div>
       </div>
    </section>


    <%- include('partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>